/* loding */
.bg-loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #ffffff; /* putih solid */
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 50px;
  height: 50px;
  border: 5px solid #e06919;
  border-top: 5px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg); /* elemen bermulai rotasi 0 derjat*/
  }

  100% {
    transform: rotate(360deg); /* elemen telah berputar 360 derajat penuh searah jarum jam*/
  }
}

   /* navbar warna custom  */
.custom-navbar {
  background-color: #F38C52;
}

.navbar-brand {
  color: #fff;
  font-weight: 700;
}

.custom-navbar .nav-link {
  color: #fff;
  font-weight: 500;
  transition: 0.3s;
  border-radius: 8px;
  padding: 6px 12px;
}

.custom-navbar .nav-link:hover,
.custom-navbar .nav-link.active {
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}


    /* hero section */
    .hero {
      position: relative;
      height: 400px;
      background: url(../assets/img/kuliner-indonesia\ 1.png) no-repeat center center;
      background-size: cover;
      display: flex;
      justify-content: center;
      /* posisi horizontal */
      align-items: center;
      /* posisi vertikal */
      color: rgb(255, 255, 255);
      text-align: center;
      font-size: 32px;
      font-weight: bold;
       font-family: Georgia, 'Times New Roman', Times, serif;
    }

    h2{
       font-family: Georgia;
    }

/* menu */
    .card-body {
      background-color: #F9E2D5;
    }

    .minuman .card-body {
      background-color: #f8f6f0;
    }

    /* hover card */
    /* Efek hover untuk card */
  .card {
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
  }

  .card:hover {
    transform: translateY(-8px); /* naik sedikit */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* bayangan lebih jelas */
  }

 